$prymary-red: #ed3237;
$cor-fundo: #F5F5F5;
$cor-texto: #323232;
$cor-complementar: #B48E4D;

body {
    background-color: $cor-fundo;
}

.index {
    opacity: 0;
}

.screen-loading {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;

    background-color: $cor-fundo;

   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    pointer-events: none;
    

    animation: background-change 3s ease-in forwards;
   
}



@keyframes background-change {

    0% {
        background-color: $cor-fundo;
        opacity: 0;
    }
    50% {
        background-color: rgba($color: $prymary-red, $alpha: 0.1);
    }
    100% {

        background-color: $cor-fundo;
    }
}



.bar-loading {
    width: 500px;
    height: 6px;
    background-color: rgba($color: $prymary-red, $alpha: 0.2);
    border-radius: 10px;
    position: relative;
    --bar-width: 0%;
    
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: var(--bar-width);
        height: 100%;
        background-color: rgba($color: $prymary-red, $alpha: 0.7);
        border-radius: 10px;

        
    }

    
    
}

// @keyframes bar-loading {
//     0% {
//         width: 0;
//     }
//     100% {
//         width: 100%;
//     }
// }

.logo {
        opacity: 0;
        transform: scale(0);
        /* Centralize o logo conforme necessário */
    }

    .altura-ajustada {
        height: calc(100vh - 100px);
    }
    .coluna-imagem {
        background-image: url('/img/bg-intro.jpg'); /* Substitua pelo caminho da sua imagem */
        background-size: cover;
        background-position: center;
    }


.imagem-reveal {
    clip-path: inset(0 0 100% 0); /* Oculta a imagem inicialmente */
    transition: clip-path 2s ease-out; /* Transição suave */
}
